

notebooks/notes.py
notebooks/EDA_jaume.ipynb
notebooks/explicacion_azure.ipynb
data/dffinal.csv
data/model.csv
data/vehiculos-de-segunda-mano-sample.csv
data/municipios.csv
data/car_price.csv
pipeline_transformación_modelo.png

